﻿@model projetCatalogueProduit.Models.CAT_PRODUI
@{
    ViewBag.Title = "AjoutProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjoutProduit</h2>
<form id="formproduit" name="formproduit" action="" method="post" enctype="multipart/form-data">
    <div class="row">
        @if(Model != null)
        {
            <input type="hidden" name="CODE_PROD" id="CODE_PROD" value="@Model.CODE_PROD"/>
        }
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>PRODUIT</label>
                <input type="text" name="LIBELLE_PROD" id="LIBELLE_PROD" value="@(Model!=null? Model.LIBELLE_PROD : "" )" class="form-control" required />
            </div>
            <div class="form-group">
                <label>DESCRIPTION</label>
                <textarea type="text" name="DESCRIPTION_PRDO" id="DESCRIPTION_PRDO" class="form-control">@(Model!=null? Model.DESCRIPTION_PRDO : "" )</textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>CATEGORIE</label>
                <select name="CODE_CAT" id="CODE_CAT" class="form-control">
                @foreach (var categorielist in ViewBag.listecategorie)
                {
                    <option value="@categorielist.CODE_CAT" @(Model!=null? Model.CODE_CAT==@categorielist.CODE_CAT? "Selected" : "" : "")>@categorielist.LIBELLE_CAT</option>
                }
                    
                </select>
            </div>

            <div class="form-group">
                <label>IMAGE PRODUIT</label>
                <input type="file" name="IMAGE_PROD" id="IMAGE_PROD" class="form-control" required />
            </div>
        </div>
    </div> 
       
        <div class="row">
            @if (Model == null)
            {
                <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />
            }
            else
            {
                <input type="submit" id="modifier" name="modifier" value="Enregistrer la modification" class="btn btn-success" />
                <a href="~/Produit/AjoutProduit" class="btn btn-default">Annuler</a>
            }

        </div>
</form>
<hr />

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th> Produit</th>
            <th> Description</th>
            <th> Image</th>
            <th> Categorie</th>
            <th> Date saisie</th>
        </tr>
        @foreach (var data in ViewBag.listeproduit)
        {
        <tr>

            <td>@data.LIBELLE_PROD</td>
            <td>@data.DESCRIPTION_PRDO</td>
            <td><img src="@data.URL_IMAGE_PROD/@data.IMAGE_PROD" /></td>
            <td>@data.CAT_CATEGORIE.LIBELLE_CAT</td>
            <td>@data.DATE_SAISIE</td>
            <td><a href="~/Produit/ModifierProduit/@data.CODE_PROD" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span>Modifier</a></td>
            <td><a href="~/produit/SupprimerProduit/@data.CODE_PROD" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Supprimer</a></td>
        </tr>}
    </table>
</div>

