﻿@model projetCatalogueProduit.Models.CAT_CATEGORIE
@{
    ViewBag.Title = "AjoutCategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjoutCategorie</h2>
<form id="formcategorie" name="formcategorie" action="" method="post">
    @if(Model != null){
    <input type="hidden" name="CODE_CAT" id="CODE_CAT" value="@Model.CODE_CAT" />
    }
    <div class="form-group">
        <label>CATEGORIE</label>
        <input type="text"  name="LIBELLE_CAT" id="LIBELLE_CAT" value="@(Model!=null? Model.LIBELLE_CAT : "")" class="form-control" required/>
    </div>
    <div>
        @if(Model == null)
        {
            <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />
        }
        else
        {
            <input type="submit" id="modifier" name="modifier" value="Enregistrer la modification" class="btn btn-success" />
            <a href="~/Categorie/AjoutCategorie" class="btn btn-default">Annuler</a>
        }
    </div>
</form>
<hr />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th> Categorie</th>
            <th> Date saisie</th>
        </tr>
        @foreach (var data in ViewBag.listcategorie)
        {<tr>
            
            <td>@data.LIBELLE_CAT</td>
            <td>@data.DATA_SAISIE</td>
            <td><a href="~/Categorie/ModifierCategorie/@data.CODE_CAT" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span>Modifier</a></td>
            <td><a href="~/categorie/SupprimerCategorie/@data.CODE_CAT" class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-remove"></span>Supprimer</a></td>
        </tr>}
    </table>

</div>

