﻿
@{
    ViewBag.Title = "Index";
}

<h2>Notre catalogue de produit</h2>
<hr />

@foreach (var data in ViewBag.listecategorie)
{
    <div class="row col-xs-12">
        <div style="background-color:#CCCCCC ; font-size:16px ; color:#000000">
            @data.LIBELLE_CAT
        </div>
        @foreach (var produit in data.CAT_PRODUI)
        {
            <div class="col-xs-12 col-sm-3">
                <div>@produit.LIBELLE_PROD</div>
                <div><img src="@produit.URL_IMAGE_PROD/@produit.IMAGE_PROD" width="100" height="80"/></div>
                <div>@produit.DESCRIPTION_PRDO</div>
                <div><a href="" class="btn btn-warning">Voir details</a></div>
            </div>
        }
    </div>
    <hr />
}

